<h1>Histories</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>N&uacute;mero</th>
			<th>Nombre</th>
			<th>Programador</th>
			<th>Iteraci&oacute;n</th>
		</tr>
	</thead>
	<tbody>
		<% @histories.each do |history| %>
			<tr>
				<td><%= history.number %></td>
				<td><%= history.name %></td>
				<td><%= history.programmer %></td>
				<td><%= history.iteration %></td>
			</tr>
		<% end %>
	</tbody>
</table>